<%provide(:title, 'Home')%>

<h1>Home</h1>

<%if signed_in?%>
<%=render 'shared/index' %>

<%="Welcome #{current_user.name}" %>
<%else%>

<p>Welcome to this website that will be created</p>

<%= link_to "Sign Up", signup_path%><br>
<%= link_to "Sign In", signin_path%><br>

<%end%>
